.content-container {
  height: calc(100vh - 15vh - 0.75vw);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5vh;
}
.image-container img {
  width: 20vw;
  min-width: 150px;
}
.image-container {
  width: 25%;
  height: 100%;
  border-right: 1px solid #f4f4f4;
  border-image: linear-gradient(#f4f4f4, rgba(0, 0, 0, 0.1)) 1 100%;
  display: flex;
  align-items: center;
}
.logo-container {
  margin: 0.75vw;
}
.logo-container div {
  border-radius: 5px;
}
.login-container {
  height: 100%;
  padding-left: 3.5vw;
  padding-top: 3.5vw;
  width: 33.3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login-text {
  color: #7f8292;
}
.input-container {
  margin-top: 30px;
  min-height: 31px;
}
.inputs-container-wrapper {
  min-height: 150px;
}
.text-container {
  margin-top: 23vh;
}
.button-container {
  margin-top: auto;
}
.error {
  color: red;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
  }
  .image-container {
    border-right: none;
    justify-content: center;
  }
  .text-container {
    margin-top: 0;
  }
}
@media (max-width: 576px) {
  .login-container {
    width: 90%;
  }
}
