.logo-container {
  background-color: #006fff;
  width: 3.5vw;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-container svg {
  width: 1.5vw;
  height: 3vh;
  fill: #ffffff;
  display: block;
}
