.logo-container {
  background-color: #006fff;
  width: 55px;
  min-height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-container svg {
  width: 15px;
  height: 15px;
  fill: #ffffff;
  display: block;
}
